In [1]:
###BASIC DATA TYPES IN PYTHON

In [ ]:
#float/double
y=12.5

In [ ]:
print(y)

In [ ]:
type(y)

---

---

In [ ]:
#String

In [2]:
a="myname"
b = '23'
c = """"56.9"""

In [3]:
a

'myname'

In [4]:
type(a)

str

In [ ]:
c

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
chr=a

In [ ]:
type(chr)

----

In [ ]:
#Logical/Boolean

In [ ]:
q1 = True

In [ ]:
q1

In [ ]:
type(q1)

In [ ]:
q2 = False

In [ ]:
type(q2)

In [ ]:
integer_x,interger_y,integer_z = 5,22,78  #Multiple assignments issue

In [ ]:
integer_x
interger_y
integer_z

In [ ]:
print(integer_x,interger_y,integer_z)

In [ ]:
integer_x,interger_y,integer_z    #this code will not give us the correct output as we get "tuple" as the result

In [ ]:
A = None
A is None

In [ ]:
B = 10
B is None

## Typecasting numbers In Python, Type Casting is a process in which we convert a data value of one type to another.

In [ ]:
#Type Cast int to float and string
#integer
n = 100

#float
f = float(n)
print(f)
type(f)

#string
s = str(n)
print(s)
type(s)

In [ ]:
#Type Cast float to int and string
#float
f = 100.05

#integer
n = int(f)
print(n)
print(type(n))

#string
s = str(f)
print(s)
print(type(s))

In [ ]:
var = '100'

In [ ]:
type(var)

## if you have decimal point in the string, you cannot typecast that directly to an integer. You should first typecast string to float and then that to integer.

In [ ]:
##string
s = '132.65'

#typecast to integer
n = int(float(s))
#m = int(n)
print(n)
print(type(n))

#typecast to float
f = float(s)
print(f)
print(type(f))

## Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.A tuple is a collection which is ordered and unchangeable.Tuples are written with round brackets. Commas are very important in tuples,tuples contain mixed data types

In [ ]:
#Create a tuple

my_tuple2 = ("va","ab","45.9","99",(7,9),"hello")
print(my_tuple2)

In [ ]:
T1 = (12,'Hello',89.5,(4,3),"""vb""") # This tuple T1 contains all the data types

In [ ]:
T1

In [ ]:
#accessing elements of a tuple
T1[2]

In [ ]:
T1[2] = 45.9

In [ ]:
#Tuples allow duplicate values:
my_tuple1 = ("A", "BA", "CC","A",(2,3))
print(my_tuple1)

In [ ]:
#Print the number of items in the tuple
my_tuple1 = ("A", "BA", "CC","A")  #len is the length of a tuple,it gives the No of elements within the data structure
len(my_tuple1)

In [ ]:
#One item tuple, remember the comma:
mytuple3 = ("tupple",)
print(type(mytuple3))

#NOT a tuple
tupleno = ("apple")
print(type(tupleno))

In [ ]:
tupleno1 = ("apple",)
type(tupleno1)

In [ ]:
#Tuple items can be of any data type:
tuple1 = ("alice", "Jenny", "clara")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
#A tuple can contain different data types,and tuples are defined as objects with the data type 'tuple'
t1 = ("abc", 34, True, 40.5, "male")
print(type(t1))

In [ ]:
#Accessing items of a tuple
t1[3]

In [ ]:
print(t1[-3])

## 0---1---2--3= positive indices.(left to right)                  
## negetive indices start from -1--(-2)---(-3) right to left

In [ ]:
#Slicing Tuples
tuple2 = (12,"Mary",45.6,'second',(3,2),'test')  #COUNTS START AT THE FIRST INDEX BUT STOPS BEFORE THE SECOND INDEX
subset = tuple2[1:4]
subset

In [ ]:
subset2 = tuple2[1:-1]
subset2

In [ ]:
subset3 = tuple2[-3:-1]
subset3

In [ ]:
tuple2[1]='Nancy'

## Lists: Unlike tuples,are one dimentional,mutable(changeable) and contains mixed data types.

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
list1

In [ ]:
#Using append function
list1.append("Jack")

In [ ]:
list1

In [ ]:
#remove function
list1.remove("abc")

In [ ]:
print(list1)

## Shows that lists are mutable

In [ ]:
#using pop() function,Remove the second element of list1:
list1.pop(2)

In [ ]:
#display list1
list1      #value 40 is removed

In [ ]:
#Insert function---we will insert a string "madhu" in list1
list1.insert(2,"madhu")

In [ ]:
list1

## Accessing elements of a list

In [ ]:
list2 =["jack",89.5, False,77,None,'Mary'] # None belongs to a distinct datatype called NoneType

In [ ]:
list2

In [ ]:
#accessing elements using the positive index
list2[2]      #in case you put list2[2,3] it will become atuple and throw errors.

In [ ]:
list2[1:5]

In [ ]:
#Using negetive indices to access elements of a list
list2[-3]

In [ ]:
#accessing elements of a list through indices
list2[1:4]       #it will fetch 1st,2nd and 3rd elements only.

In [ ]:
list2[2:3]

In [ ]:
list3 = [1,4,5,6,8]

In [ ]:
m,n = list3[1],list3[3]

In [ ]:
out = list((list3[1],list3[2],list3[3]))
print(out)

In [ ]:
m,n

In [ ]:
m

In [ ]:
n

## Discard function

In [ ]:
set1 ={1,2,3,4,5}

In [ ]:
set1.discard(3)

In [ ]:
print(set1)

In [ ]:
set1.discard(8)

In [ ]:
print(set1)

### pop() function-example 2

In [ ]:
list3 = ["abc",78,99,"john",103.2]

In [ ]:
list3.pop(3)

In [ ]:
list3

In [ ]:
#update----works on sets
set2 = {"a","b","c","d"}
set3 = {"e","f","g","h"}
set2.update(set3)
print(set2)

In [ ]:
###symmetric difference of sets

M = {1,2,3,4,5,6}
N = {6,7,8,9,10}
print(M^N)   #eliminates the common values

## Dictionaries map a set of keys to a set of values. Keys are immutable,while values can be of any data type. We use the curly brackets{} to create the key value pairs

In [ ]:
#Viweing keys and values in a dictionary.
first_dict = {'john':'travolta','kelly':'Brook','id':[34,43]}

In [ ]:
first_dict

In [ ]:
first_dict.keys()

In [ ]:
first_dict.values()

In [ ]:
#Accesing and modifying dict elements
first_dict['john']

In [ ]:
first_dict['id']

In [ ]:
#updating values in the dictionary
first_dict.update({'id':[32,89]})

In [ ]:
first_dict

In [ ]:
#deleting key-value pairs
del first_dict['id']

In [ ]:
first_dict

In [ ]:
###EXAMPLE2: We have one dict (mydict) which is composed of 3 different dictionaries

mydict = {
    "Learner1":{
        "name":"Deeksha",
        "joining_date":2022
    },
    "Learner2" :{
        "name":"abhishek",
        "joining_date":2020
    },
    "Learner3" :{
        "name":"unyime",
        "joining_date":2021
    }
}
print(mydict)

In [ ]:
house1 = {
    "number":304,
    "road":"road1"
}
house2 = {
    "number":404,
    "road":"road2"
}
house3 = {
    "number":504,
    "road":"road3"
}
Got = {
    "home1":house1,
    "home2":house2,
    "home3":house3
}
print(Got)

In [ ]:
house1={
    "number":12,
    "road":"Sainath Colony"
}
house2={
    "number":13,
    "road":"Sainath Colony1"
}
house3={
    "number":14,
    "road":"Sainath Colony2"
}
Got={
    "Addr1":house1,
    "Addr2":house2,
    "Addr3":house3
}
print(Got)

## A set is an unordered collection of unique elements.Sets are used to store multiple items in a single variable.Set items are unchangeable, but you can remove items and add new items.Sets are unordered, so you cannot be sure in which order the items will appear.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.In sets,Duplicates are Not Allowed. We cannot change the items of the set but we can add or remove items.

In [ ]:
#Sets are written with curly brackets.

set1 = {"abc", 34, True, 40, "male"}

In [1]:
set5 = {7,19.2,"text",(3,2),True}

In [2]:
set5   #unordered set gets printed out

{(3, 2), 19.2, 7, True, 'text'}

In [3]:
type(set5)

set

In [ ]:
set1

In [ ]:
type(set1)

In [ ]:
#Does not allow duplicates.
set2 = {"abc",34,True,True,40,"male","male","90.7"}

In [ ]:
set2 #NO SPECIFIC ORDER IS FOLLOWED BY THE ELEMENTS OF THE SET.

## Set Operations-Union(OR) and AND(Intersection) operators

In [ ]:
combined_OR=set1|set2

In [ ]:
combined_OR   #all elements of set1 and set2

In [ ]:
Intersection_And = set1 & set2

In [ ]:
Intersection_And  #in this case only common elements are displayed

## The 'IN' Operator----Returns True if a sequence with the specified value is present in the object

In [ ]:
student_names = ['Tom','Dick','Harry','sarah','Nicole']

In [ ]:
'Tom' in student_names

In [ ]:
'jenny' in student_names

In [ ]:
word = 'sequence'

In [ ]:
word

In [ ]:
't' in word

In [ ]:
'c' in word

In [ ]:
list3 = [8,9,10,11]

In [ ]:
string2 = 'hello world'

In [ ]:
tuple3 =(99,89,79,69)

In [ ]:
print(11 in list3)

In [ ]:
77 in list3

In [ ]:
79 in tuple3

In [ ]:
79 not in tuple3

## Arithmetic operators are used with numeric values to perform common mathematical operations: the plus operator produces a tuple,list or string which is a concatenation of its arguments.

In [ ]:
scores1 = [67,66,50,47]
scores2 = [70,80,90,47]

In [ ]:
add_scores = scores1+scores2

In [ ]:
add_scores

In [ ]:
first_name = 'allen'
last_name = 'Parker'
full_name = first_name +" "+last_name
full_name

## The multiplication operator produces a new tuple,list or string that repeats the original content. The operator '*' does not perform actual multiplication,but just repeats the content for a specific number of times.

In [ ]:
age = (12,24,36)*3
age

In [ ]:
#using a list
ID = [101,202,444]*2
ID

In [ ]:
#USING A STRING
name = 'friend'*3
name

## Functions are the primary and most important method to do organised coding and can be reused. It starts with the 'def' keyword,and the outcome of a function is obtained by the Return statement. Arguments within the parenthesis are basically the tasks assigned to the function.

### We use 'def' to create a function,and post that we give it a name.

In [ ]:
#IN PYTHON A FUNCTION IS DEFINED USING 'DEF' KEYWORD
#TO CALL A FUNCTION USE THE FUNCTION NAME FOLLOWED BY A PARENTHESIS()
def add_two_numbers(num1,num2):
        return num1+num2
number1=23
number2=47.5
result = add_two_numbers(number1,number2)

In [ ]:
result

In [ ]:
#A parameter is the variable listed inside the parentheses in the function definition.(fname,lname)
#An argument is the value that is sent to the function when it is called.(bruce,lee)

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Bruce", "Lee")

In [ ]:
def profile():         #no parameters are mentioned
    age=21
    height=5.5
    weight=54
    return age,height    #age and weight is the outcome we want,defined by return statement
age, height = profile()  #We call the function using function name

In [ ]:
print (age, height)

In [ ]:
def profile(weight,age):
    print(f"The stats are {weight},{age}")
profile(70,50)

#f stands for formatted strings. 
#these strings contain replacement fields.these replacement fields are limited by curly brackets.

## Inbuilt Functions

### The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.The enumerate() function adds a counter as the key of the enumerate object. Basically it creates an index of data so that we can create a data map

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))     #We get the output as a list

In [ ]:
my_List=['A','b','c','d']
z =enumerate(my_List)
print(list(z))

In [ ]:
# We will first start with a list of cities
city_list = ['Bangkok','Paris','Lahore','Moscow','Cairo']

In [ ]:
#Now we use the enumerate function to create an index of the data,we want the index first,so we write'position'
for position,name in enumerate(city_list):
    print(position,name)

In [ ]:
#We create a data map now,using a dict
city_map = dict((name,position) for position,name in enumerate (city_list)) #enumerate function gives index first

In [ ]:
city_map

## Sort function- sorts numeric and string values

In [ ]:
x = ['q', 'w', 'r', 'e', 't', 'y']
print(sorted(x))

In [ ]:
a = (1, 11, 2)
x = sorted(a)
print(x)

In [ ]:
#Now sorting in the descending order
a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

## Reverse and Zip functions

In [ ]:
#Reverse function is used to reverse the list of elements in a list
num_list=[5,6,7,8,9,10]
list(reversed(num_list))

In [ ]:
#Zip functions are used to pair elements of two lists
subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))   #Changed code for python 3
all_subjects

In [ ]:

subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))

## Local scope,Global scope,Enclosing Scope,Built in

#### local:

In [ ]:
m = 'global variable'

def myfirst():
    m = 'inner variable'
    print(m)

In [ ]:
myfirst()   #here m takes the local value,not the global value. So m has local scope

#### Global:

In [ ]:
g = 'global variable'

def mysecond():
    q = 'inner variable'
    print(g)

In [ ]:
mysecond()
print(g)

In [ ]:
mysecond()

#### Enclosing Scope:

In [ ]:
g = 'This is my global variable'

def mythird():
    encv = 'non global variable'
    def myfourth():
        nonlocal encv
        print(encv)
    myfourth()

#the nonlocal function/keyword is inbuilt,and works on variables inside nested functions,where specifically 
# the variable IS NOT  to be a part of an inner function
#enclosed scope is also called NON LOCAL scope. it usually refers to variables defined within the nested functions

In [ ]:
mythird()
print(g)

In [ ]:
first_dict = {'a':2,'b':4,'c':8}

In [ ]:
first_dict.keys()

In [ ]:
first_dict.values()